<h2>Product List</h2>

Today: {{ today| date:'fullDate' }}

<ul>
  <li *ngFor="let product of products | slice:3 |sort; let i = index" (click)="selectedProduct=product">
    {{ i + 1 }}. {{ product?.name | uppercase }} - <span> {{ product.price | currency }} </span>
    <p>{{product | json}}</p>
  </li>
</ul>

<app-product-detail *ngIf="selectedProduct; else noProduct"
                    [product]="selectedProduct"
                    (bought)="onBuy($event)"></app-product-detail>
<ng-template #noProduct>
  <p>No products selected</p>
</ng-template>
